@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-ExtraBoldItalic.woff2") format("woff2"), url("Nunito-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Black.woff2") format("woff2"), url("Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-BlackItalic.woff2") format("woff2"), url("Nunito-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Bold.woff2") format("woff2"), url("Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-ExtraLightItalic.woff2") format("woff2"), url("Nunito-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Italic.woff2") format("woff2"), url("Nunito-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-ExtraLight.woff2") format("woff2"), url("Nunito-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-BoldItalic.woff2") format("woff2"), url("Nunito-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-ExtraBold.woff2") format("woff2"), url("Nunito-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-SemiBoldItalic.woff2") format("woff2"), url("Nunito-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Light.woff2") format("woff2"), url("Nunito-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-MediumItalic.woff2") format("woff2"), url("Nunito-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-SemiBold.woff2") format("woff2"), url("Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-LightItalic.woff2") format("woff2"), url("Nunito-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Medium.woff2") format("woff2"), url("Nunito-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.woff2") format("woff2"), url("Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(-145deg, #fff, rgba(196, 109, 227, 0.1411764706));
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 30px 0 38px;
  background-color: #fff;
}
.navbar .nav__wrapper {
  display: flex;
  justify-content: space-between;
}
.navbar .nav__wrapper .navbar__contents {
  display: flex;
  gap: 65px;
}
.navbar .nav__wrapper .navbar__contents #navbar__logo {
  position: relative;
}
.navbar .nav__wrapper .navbar__contents #navbar__logo {
  display: block;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  .navbar .nav__wrapper .navbar__contents #navbar__logo {
    position: absolute;
    z-index: 999;
  }
}
.navbar .nav__wrapper .navbar__contents .navbar__list {
  display: flex;
  align-items: center;
  gap: 35px;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  .navbar .nav__wrapper .navbar__contents .navbar__list {
    transform: translateX(-100%);
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    /* From https://css.glass */
    background: rgba(31, 31, 244, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 100vh;
    width: 60%;
    padding: 100px 80px;
    z-index: 99;
  }
}
.navbar .nav__wrapper .navbar__contents .navbar__list .navbar__list-item a {
  color: #485466;
  font-size: 16px;
  font-weight: 400;
}
.navbar .nav__wrapper .navbar__contents .navbar__list .active {
  transform: translateX(0);
}
.navbar .nav__wrapper .navbar__contents .navbar__list .BurgerActive {
  z-index: 999;
}
.navbar .nav__wrapper .navbar__list-btn {
  display: none;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  .navbar .nav__wrapper .navbar__list-btn {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
.navbar .nav__wrapper .navbar__list-btn .navbar__btn-one {
  color: #4e92f9;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .navbar .nav__wrapper .navbar__list-btn .navbar__btn-one {
    font-size: 16px;
    font-weight: 500;
  }
}
.navbar .nav__wrapper .navbar__list-btn .navbar__btn-two {
  font-size: 16px;
  font-weight: 700;
  background: var(--Gradient-Primary, linear-gradient(113deg, #c381db 0%, #4e92f9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 8px;
  padding: 7px 16px;
  /* Soft Shadow */
  box-shadow: 0px 7px 20px 0px rgba(49, 69, 255, 0.13);
}
@media screen and (max-width: 767px) {
  .navbar .nav__wrapper .navbar__list-btn .navbar__btn-two {
    font-size: 16px;
    font-weight: 500;
  }
}
.navbar .nav__wrapper .navbar__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  .navbar .nav__wrapper .navbar__buttons {
    display: none;
  }
}
.navbar .nav__wrapper .navbar__buttons .navbar__btn-one {
  color: #4e92f9;
  font-size: 16px;
  font-weight: 700;
}
.navbar .nav__wrapper .navbar__buttons .navbar__btn-two {
  font-size: 16px;
  font-weight: 700;
  background: var(--Gradient-Primary, linear-gradient(113deg, #c381db 0%, #4e92f9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 8px;
  padding: 7px 16px;
  /* Soft Shadow */
  box-shadow: 0px 7px 20px 0px rgba(49, 69, 255, 0.13);
}
.navbar .nav__wrapper .navbar__burger div {
  display: none;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  .navbar .nav__wrapper .navbar__burger div {
    display: flex;
  }
}

.hero {
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero {
    margin-top: 90px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    margin-top: 90px;
  }
}
.hero .hero__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero .hero__wrapper .hero__contents {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .hero .hero__wrapper .hero__contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.hero .hero__wrapper .hero__contents h2 {
  font-size: 51px;
  font-weight: 700;
  background: var(--Gradient-Primary, linear-gradient(113deg, #c381db 0%, #4e92f9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 767px) {
  .hero .hero__wrapper .hero__contents h2 {
    font-size: 35px;
  }
}
.hero .hero__wrapper .hero__contents h3 {
  color: #485466;
  font-size: 40px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .hero .hero__wrapper .hero__contents h3 {
    font-size: 20px;
  }
}
.hero .hero__wrapper .hero__contents h3 span {
  color: #485466;
  font-weight: 700;
  line-height: 48px;
}
.hero .hero__wrapper .hero__contents p {
  color: #5a6980;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  width: 431px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .hero .hero__wrapper .hero__contents p {
    width: 310px;
  }
}
.hero .hero__wrapper .hero__contents a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 7px 16px;
  border-radius: 8px;
  background: var(--Gradient-Primary, linear-gradient(113deg, #c381db 0%, #4e92f9 100%));
}
.hero .hero__wrapper #hero__bg {
  margin-right: -500px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero .hero__wrapper #hero__bg {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hero .hero__wrapper #hero__bg {
    display: none;
  }
}

.images {
  margin-top: 157px;
  margin-bottom: 157px;
}
.images .images__contents {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.service {
  margin-bottom: 177px;
  position: relative;
  overflow: hidden;
}
.service .service__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service .service__wrapper .bg__color {
  position: absolute;
  left: 90px;
  bottom: 340px;
  width: 239px;
  height: 239px;
  flex-shrink: 0;
  border-radius: 145px;
  background: linear-gradient(180deg, rgba(78, 146, 249, 0) 0%, rgba(78, 146, 249, 0.21) 100%);
}
.service .service__wrapper .bg__color-two {
  position: absolute;
  top: 130px;
  right: -270px;
  width: 373px;
  height: 373px;
  flex-shrink: 0;
  background: linear-gradient(166deg, rgba(255, 186, 39, 0.17) 10.13%, rgba(255, 222, 152, 0.17) 86.62%);
  filter: blur(127px);
}
.service .service__wrapper h2 {
  color: #242a33;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .service .service__wrapper h2 {
    font-size: 35px;
  }
}
.service .service__wrapper p {
  color: #5a6980;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  width: 558px;
  margin-bottom: 90px;
}
@media screen and (max-width: 767px) {
  .service .service__wrapper p {
    font-size: 15px;
    width: 358px;
  }
}
.service .service__wrapper .service__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.service .service__wrapper .service__list .service__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 364px;
  height: 443px;
  border-radius: 40px;
  border: 2px solid #fff;
  background: linear-gradient(138deg, rgba(255, 255, 255, 0) 4.16%, rgba(255, 255, 255, 0.5) 102.02%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
.service .service__wrapper .service__list .service__list-item img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service .service__wrapper .service__list .service__list-item h4 {
  color: #485466;
  font-size: 20px;
  font-weight: 700;
  margin-top: 77px;
  margin-bottom: 23px;
  margin-left: -60px;
}
.service .service__wrapper .service__list .service__list-item h5 {
  display: flex;
  align-items: center;
  color: #5a6980;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  width: 252px;
}
.service .service__wrapper .service__list .service__list-item .service__icons {
  color: #4e92f9;
  font-size: 16px;
  font-weight: 700;
  margin-left: -165px;
  margin-top: 22px;
}
.service .service__wrapper .service__list .service__list-item .service__icons {
  background-image: url(/img/icons.svg);
  background-repeat: no-repeat;
  background-position: center left 127px;
  padding: 10px 38px;
  transition: all 0.3s ease;
}
.service .service__wrapper .service__list .service__list-item .service__icons:hover {
  background-position: center left 133px;
}

.works {
  overflow: hidden;
  position: relative;
  margin-bottom: 229px;
  padding-bottom: 100px;
}
.works .works__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.works .works__wrapper h2 {
  color: #242a33;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
@media screen and (max-width: 767px) {
  .works .works__wrapper h2 {
    font-size: 30px;
  }
}
.works .works__wrapper p {
  color: #5a6980;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  width: 558px;
  margin-top: 20px;
  margin-bottom: 85px;
}
@media screen and (max-width: 767px) {
  .works .works__wrapper p {
    width: 358px;
  }
}
.works .works__wrapper .work__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}
.works .works__wrapper .work__list .work__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.works .works__wrapper .work__list .work__list-item img {
  position: relative;
  padding: 25px;
  border-radius: 24px;
  border: 1.451px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10.5381555557px);
          backdrop-filter: blur(10.5381555557px);
  margin-bottom: 24px;
}
.works .works__wrapper .work__list .work__list-item .colors__work {
  position: absolute;
  margin-top: -106px;
  margin-left: 50px;
  z-index: -1;
  width: 79.187px;
  height: 78.4px;
  flex-shrink: 0;
  border-radius: 23.209px;
  background: linear-gradient(297deg, rgba(235, 100, 83, 0.5) -52.8%, rgba(235, 100, 83, 0) 65.53%);
}
.works .works__wrapper .work__list .work__list-item .colors__work-2 {
  position: absolute;
  margin-top: -106px;
  margin-left: 50px;
  z-index: -1;
  width: 77.798px;
  height: 78.4px;
  flex-shrink: 0;
  border-radius: 24px;
  background: rgba(78, 146, 249, 0.12);
}
.works .works__wrapper .work__list .work__list-item .colors__work-3 {
  position: absolute;
  margin-top: -106px;
  margin-left: 50px;
  z-index: -1;
  width: 78.4px;
  height: 78.4px;
  flex-shrink: 0;
  border-radius: 24px;
  background: linear-gradient(299deg, rgba(255, 195, 67, 0.7) -72.57%, rgba(255, 195, 67, 0) 99.03%);
}
.works .works__wrapper .work__list .work__list-item .colors__work-4 {
  position: absolute;
  margin-top: -106px;
  margin-left: 50px;
  z-index: -1;
  width: 78.4px;
  height: 78.4px;
  flex-shrink: 0;
  border-radius: 24px;
  background: linear-gradient(310deg, rgba(150, 209, 33, 0.4) -46.66%, rgba(150, 209, 33, 0) 83.56%);
}
.works .works__wrapper .work__list .work__list-item .colors__work-5 {
  position: absolute;
  margin-top: -106px;
  margin-left: 50px;
  z-index: -1;
  width: 78.4px;
  height: 78.4px;
  flex-shrink: 0;
  border-radius: 24px;
  background: rgba(195, 129, 219, 0.12);
}
.works .works__wrapper .work__list .work__list-item .colors__work-6 {
  position: absolute;
  margin-top: -106px;
  margin-left: 50px;
  z-index: -1;
  width: 78.4px;
  height: 78.4px;
  flex-shrink: 0;
  border-radius: 24px;
  background: linear-gradient(301deg, rgba(33, 212, 223, 0.3) -52.44%, rgba(33, 212, 223, 0) 70.45%);
}
.works .works__wrapper .work__list .work__list-item h4 {
  color: #6c7e99;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.works .works__wrapper .work__list .work__list-item h5 {
  width: 286px;
  color: #7e92b2;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.create {
  margin-bottom: 155px;
}
.create .create__wrapper {
  display: flex;
  align-items: center;
  gap: 200px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .create .create__wrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .create .create__wrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.create .create__wrapper img {
  position: relative;
  margin-top: -100px;
  padding: 44px;
  border-radius: 86px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
@media screen and (max-width: 767px) {
  .create .create__wrapper img {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: -100px;
  }
}
.create .create__wrapper .create__bg {
  position: absolute;
  z-index: -1;
  margin-left: 150px;
  margin-bottom: -180px;
  width: 408px;
  height: 408px;
  flex-shrink: 0;
  border-radius: 61px;
  background: linear-gradient(164deg, rgba(78, 146, 249, 0.25) 10.99%, rgba(195, 129, 219, 0.25) 113.57%);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .create .create__wrapper .create__bg {
    margin-left: 198px;
    margin-bottom: 404px;
  }
}
@media screen and (max-width: 767px) {
  .create .create__wrapper .create__bg {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .create .create__wrapper .create__list .create__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .create .create__wrapper .create__list .create__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.create .create__wrapper .create__list .create__list-item h2 {
  color: #242a33;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  width: 460px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .create .create__wrapper .create__list .create__list-item h2 {
    text-align: center;
    width: 660px;
  }
}
@media screen and (max-width: 767px) {
  .create .create__wrapper .create__list .create__list-item h2 {
    text-align: center;
    width: 360px;
    font-size: 29px;
  }
}
.create .create__wrapper .create__list .create__list-item h5 {
  color: #5a6980;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .create .create__wrapper .create__list .create__list-item h5 {
    text-align: center;
    width: 550px;
  }
}
@media screen and (max-width: 767px) {
  .create .create__wrapper .create__list .create__list-item h5 {
    text-align: center;
    width: 360px;
  }
}
.create .create__wrapper .create__list .create__list-item p {
  color: #5a6980;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .create .create__wrapper .create__list .create__list-item p {
    text-align: center;
    width: 550px;
  }
}
@media screen and (max-width: 767px) {
  .create .create__wrapper .create__list .create__list-item p {
    text-align: center;
    width: 360px;
  }
}
.create .create__wrapper .create__list .create__list-item p span {
  color: #5a6980;
  font-size: 16px;
  font-weight: 700;
}
.create .create__wrapper .create__list .create__list-item a {
  padding: 7px 16px;
  border-radius: 8px;
  border: 1px solid var(--Gradient-Primary, #c381db);
  font-size: 16px;
  font-weight: 700;
  background: var(--Gradient-Primary, linear-gradient(113deg, #c381db 0%, #4e92f9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=main.css.map */